Demographic Data Analyzer/tester.py
Demographic Data Analyzer/__pycache__/demographic_data_analyzer.cpython-311.pyc
Demographic Data Analyzer/__pycache__/test_module.cpython-311.pyc
Medical Data Visualizer/medical_examination.csv
Medical Data Visualizer/examples/Figure_2.png
Medical Data Visualizer/examples/Figure_1.png
Medical Data Visualizer/testing.py
